.navbar {
    background-color: #a91f3f2e;
    /* z-index: 1000;
    top: 0;
    overflow: visible; 
    position: fixed; 
    width: 100%; */

}
.navbar-brand {
    margin-left: 30px;
}
/* .navbar-brand img {
    width: 150px;
    height: 150px;
} */
 
.offcanvas {
    /* background-color: transparent; */
    background-color: #ffffff79;
}
.offcanvas-title {
    /* background-color: #8c162a1a; */
    font-weight: bold;
    color: #a91f40;
    text-align: center;
}
.whatsapp-button {
    position: fixed;
    bottom: 670px !important;
    right: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    z-index: 999;
    
}
.whatsapp-button:hover {
    background-color: #1ebe5d;
}
.whatsapp-icon {
    width: 24px;
    height: 28px;
}
.uber-button {
    position: fixed;
    bottom: 600px;
    right: 20px;
    background-color: #eee6e6;
    border: none;
    border-radius: 50px;
    padding: 14px 22px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transition: background-color 0.3s;
    z-index: 999;
}
.uber-button:hover {
    background-color: #6c9581;
}
.uber-icon {
    width: 140px;
    height: 22px;
}
.botones {
    font-weight: bold;
    color: white;
    background-color: #a91f40;
    width: 60px;
    height: 60px;
    padding: 0;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 0 1rem;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* .ws {
    font-weight: bold;
    color: white;
    background-color: #a91f40;
    width: 60px;
    height: 60px;
    padding: 0;
    font-size: 2.0rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 0 1rem;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
.logos {
    font-weight: bold;
    color: white;
    background-color: #a91f40;
    width: 60px;
    height: 60px;
    padding: 0;
    font-size: 1.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 1rem;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Efectos hover y active */
.botones:hover,
.logos:hover {
    transform: scale(1.1);
    background-color: #ff4c4c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: white;
}

.botones:active,
.logos:active {
    transform: scale(0.95);
}

.botones i,
.logos i {
    transition: color 0.3s ease;
}

.botones:hover i,
.logos:hover i {
    color: #fff;
}
.fondo-carousel {
    height: 700px;
    overflow: hidden;
}
.fondo-carousel .carousel-inner,
.fondo-carousel .carousel-item,
.fondo-carousel .carousel-item img {
    height: 100%;
}
.fondo-carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
}
.carousel-caption-personalizado {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 20px);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 10px;
    opacity: 0;
    animation: fadeUpIn 5s ease-in-out forwards;
    z-index: 3;
    text-align: center;
    word-wrap: break-word;
}

@keyframes fadeUpIn {
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
.fondo-carousel .carousel-item {
  position: relative;
}

.fondo-carousel .carousel-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0000005f;
  pointer-events: none;
  z-index: 2;
}

.fondo-carousel .carousel-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.bg-galeria {
    /* background: #a91f3f2e; */
}
.bg-ubicacion {
    /* background: linear-gradient(to bottom, #ffffff, #a91f40); */
    background: #a91f40;
}
.galeria-img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 900px;
    height: 500px;
    /* border-radius: 8px; */
    animation: fadeUpInImg 4s ease-out forwards;
}

@keyframes fadeUpInImg {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.bg-ubicacion h4 {
    color: white;
    /* color: black; */
    text-align: center;
    font-weight: bold;
}
.bg-ubicacion p {
    color: white !important;
    /* color: black !important; */
    text-align: center;
}



/* RESPONSIVE */
@media (max-width: 768px) {
    .carousel-caption-personalizado {
      bottom: 30%;
      transform: translate(-50%, 50px);
      font-size: 1.5rem;
      animation: fadeUpIn 5s ease-in-out forwards;
    }
}


/* CARTA */

.bg-menu {
    background: #a91f3f2e;
}